$def with (name, message, to_address, editform)
<html>
  <head>
    <title>discoversong</title>
  </head>
  <body>
    <h1>discoversong</h1>
    Welcome $name!
    $message
    <p>
      Send an email to $to_address with an artist and song title in the subject.  discoversong
      will search Rdio and add what it finds to the playlist you have selected below.  It's great!  Give it a try.
      You can also configure your music-identifying app like Shazam or VCast Song ID to send emails to $to_address.
    </p>
    <form action="/save">
    $:editform.render()
    </form>
    <a href="/logout">Log out of Rdio</a>
  </body>
</html>
