<html>
  <head>
    <title>discoversong</title>
  </head>
  <body>
    <h1>discoversong</h1>
    <p>
      discoversong interfaces between VCast Song ID, Shazam, or other music-identification tool and Rdio.
      You configure your song-identifier to send emails and enter the address you'll be given when you log in.
      discoversong receives the email, parses it, searches Rdio for the music you liked, and adds it to the playlist
      you specify.
    </p>
    <a href="/login">Log into Rdio</a>
  </body>
</html>
